---

---

<header class="flex items-center gap-x-2 justify-between">
  <a href="/" class="text-xl">Mosaic.</a>
  <nav class="flex items-center gap-x-4">
    <a class="p-2" href="/">Home</a>
  </nav>
</header>
